body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(135deg, #ff758c, #ff7eb3);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    color: white;
    text-align: center;
}

.container {
    background: rgba(255,255,255,0.15);
    padding: 40px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
    width: 90%;
    max-width: 500px;
    animation: aparecer 1.5s ease;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 2.3em;
    animation: brilho 2s infinite alternate;
}

@keyframes brilho {
    from { text-shadow: 0 0 10px white; }
    to { text-shadow: 0 0 25px #fff, 0 0 40px #ff4e8a; }
}



p {
    font-size: 1.2em;
}

button {
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    background: white;
    color: #ff4e8a;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.1);
    background: #ffe6f0;
}

@keyframes aparecer {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}

.confetti {
    position: absolute;
    width: 8px;
    height: 8px;
    background: white;
    animation: cair linear infinite;
}

@keyframes cair {
    0% { transform: translateY(-100vh) rotate(0); }
    100% { transform: translateY(100vh) rotate(360deg); }
}

.creditos {
    margin-top: 25px;
    font-size: 0.9em;
    opacity: 0.8;
}

.creditos a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.creditos a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

small {
    display: block;
    margin-top: 5px;
    font-size: 0.8em;
    opacity:
}

.cordao {
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly; /* espalha uniforme */
    align-items: flex-start;
    padding: 0 40px;
    z-index: 2;
}

.fio {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 3px;
    background: rgba(255,255,255,0.7);
    z-index: 1; /* fica atrás */
}

.polaroid {
    position: relative;
    z-index: 2; /* fica na frente do fio */
    
    width: 120px;
    height: 160px;
    background: white;
    padding: 8px 8px 25px 8px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.25);
    transition: transform 0.3s ease;
}

.polaroid img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* deixa todas proporcionais */
}

.polaroid:hover {
    transform: scale(1.08);
}

@keyframes balancar {
    from { transform: rotate(var(--rot)) translateY(0px); }
    to { transform: rotate(var(--rot)) translateY(10px); }
}
